* {
  font-family: "Oswald", sans-serif;
}

:root {
  --heading-color: #27187e;
  --primary-color: #758bfd;
  --secondary-color: #aeb8fe;
  --header-color: #f1f2f6;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

.hero {
  background-color: #f1f2f6;
  padding-top: 20px;
  padding-bottom: 20px;
}
.home-buttons {
  text-align: center;
}

.profile-pic {
  max-width: 50%;
  display: block;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .profile-pic {
    max-width: 200px;
  }
}

.name {
  color: var(--heading-color);
}

.title {
  color: var(--heading-color);
}

.work-button {
  background-color: var(--primary-color);
  border-radius: 4px;
  padding: 5px 10px;
  margin-right: 10px;
}

.contact-button {
  background-color: var(--secondary-color);
  border-radius: 4px;
  padding: 5px 10px;
  margin-left: 10px;
  text-decoration: none;
}

.navbar-brand {
  max-width: 100px;
  margin: -30px -10px;
}

html {
  background-color: #f7f7f9;
}

.homepage-work-pic {
  max-width: 300px;
  border: solid var(--primary-color);
  display: block;
  margin: 15px auto;
  max-height: 200px;
  box-shadow: 5px 3px 3px var(--header-color);
}

.projects {
  text-decoration: underline;
  margin-bottom: 50px;
}

.about-pics {
  max-height: 300px;
  padding-bottom: 10px;
  margin: 0 auto;
}

.about-divs {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.about-text {
  margin-top: 200px;
  font-size: 32px;
  text-align: center;
  margin: 0 auto;
}

.travel-pic {
  margin-left: 50%;
}

.family-pic {
  margin-right: 50%;
}
.header {
  background-color: var(--header-color);
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (max-width: 500px) {
  .about-pics {
    max-width: 100px;
    margin-top: 50px;
  }
  .header {
    display: none;
  }

  .about-text {
    margin: 20px;
    font-size: 16px;
  }
}

.work-examples img {
  max-width: 500px;
  height: 250px;
  padding: 10px;
  display: block;
  margin: 0 auto;
  border: 1px solid var(--primary-color);
  box-shadow: 5px 3px 3px var(--header-color);
}
.work-examples-title {
  background-color: var(--header-color);
  padding-top: 10px;
  padding-bottom: 10px;
}

.work-examples h4 {
  padding-top: 20px;
}

.work-examples p {
  font-size: 20px;
}

.contact-header {
  background-color: var(--header-color);
  padding-top: 10px;
  padding-bottom: 10px;
}

.email-link {
  color: black;
}

.linkedin-link {
  color: black;
  text-decoration: none;
}

.footer-icons a {
  padding: 20px;
  color: var(--primary-color);
  font-size: 36px;
}
.footer-icons {
  text-align: center;
}

footer .fa-brands:hover {
  color: black;
  transition: ease-in-out 500ms;
}

footer {
  background-color: #f8f9fa;
  margin-top: 25px;
  position: absolute;
  width: 100%;
}

.spacer {
  padding-top: 100px;
  padding-bottom: 100px;
}
