* {
  font-family: "Oswald", sans-serif;
}

:root {
  --heading-color: #27187e;
  --primary-color: #758bfd;
  --secondary-color: #aeb8fe;
  --header-color: #f1f2f6;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

.hero {
  position: relative;
}
.video {
  height: 100vh;
  width: 100%;
  background-position: absolute;
  z-index: -1;
  object-fit: cover;
  opacity: 0.3;
}
.header-content {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.home-buttons {
  text-align: center;
}

.home-buttons button {
  font-size: 36px;
}

.profile-pic {
  max-width: 75%;
  margin: 0 auto;
  padding-top: 50px;
}

.name {
  color: var(--heading-color);
  padding-top: 150px;
  font-size: 64px;
}

.title {
  color: var(--heading-color);
  font-size: 42px;
  padding-bottom: 10px;
}

.work-button {
  background-color: var(--primary-color);
  border-radius: 6px;
  padding: 15px 40px;
  margin-right: 10px;
}

.contact-button {
  background-color: var(--secondary-color);
  border-radius: 6px;
  padding: 15px 40px;
  margin-left: 10px;
  text-decoration: none;
}

.navbar-brand {
  max-width: 100px;
  margin: -30px -10px;
}

html {
  background-color: #f7f7f9;
}

.homepage-work-pic {
  max-width: 400px;
  border: solid var(--primary-color);
  display: block;
  margin: 15px auto;
  max-height: 300px;
  box-shadow: 5px 3px 3px var(--header-color);
}

.projects {
  text-decoration: underline;
  margin-bottom: 50px;
  font-size: 60px;
}

.homepage-work-title {
  font-size: 36px;
}

.about-pics {
  padding-bottom: 10px;
  margin: 0 auto;
}

.about-divs {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.about-header-text {
  line-height: 1.5;
  font-size: 48px;
}
.about-text {
  margin-top: 200px;
  font-size: 36px;
  text-align: center;
  margin: 0 auto;
}

.certificate {
  max-height: 500px;
  margin: 0 auto;
}
.travel-pic {
  margin: 0 auto;
  max-height: 500px;
}

.family-pic {
  margin: 0 auto;
  max-height: 500px;
}

.header {
  background-color: var(--header-color);
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (max-width: 500px) {
  .about-pics {
    max-width: 100px;
    margin-top: 50px;
  }
  .header {
    display: none;
  }

  .about-text {
    margin: 20px;
    font-size: 16px;
  }
  .profile-pic {
    display: block;
    max-height: 200px;
  }
  .title {
    font-size: 24px;
  }
  .name {
    font-size: 24px;
  }
  .work-button {
    border-radius: 6px;
    padding: 5px 10px;
    margin-right: 10px;
  }
  .contact-button {
    border-radius: 6px;
    padding: 5px 10px;
    margin-left: 10px;
  }
  .home-buttons button {
    font-size: 24px;
  }

  .work-examples img {
    max-width: 500px;
    height: 250px;
    padding: 10px;
    display: block;
    border-radius: 4px;
    margin: 0 auto;
    border: 1px solid var(--primary-color);
    box-shadow: 5px 3px 3px var(--header-color);
  }
  .work-examples-title {
    background-color: var(--header-color);
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .work-examples h4 {
    padding-top: 20px;
  }

  .work-examples p {
    font-size: 20px;
  }

  .contact-header {
    background-color: var(--header-color);
  }

  .email-link {
    color: black;
  }
  .contact {
    font-size: 55px;
    padding-top: 80px;
  }
  .contact-text {
    font-size: 50px;
  }
  .linkedin-link {
    color: black;
    text-decoration: none;
  }

  .footer-icons a {
    padding: 20px;
    color: var(--primary-color);
    font-size: 36px;
  }
  .footer-icons {
    text-align: center;
  }

  footer .fa-brands:hover {
    color: black;
    transition: ease-in-out 500ms;
  }

  footer {
    background-color: #f8f9fa;
    margin-top: 25px;
    position: absolute;
    width: 100%;
  }

  .work-footer {
    padding-right: 200px;
  }
  .contact-text {
    font-size: 30px;
  }
  .contact {
    font-size: 30px;
  }
}
